/* body additional */
html, body{
    overflow-x: hidden;
}

/* hero start */
.blog1{
    background-image: linear-gradient(#00000035), url("blog2_img/opendumping.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    border-bottom: #000a4e solid 10px;
}

.blog1 .blog_1 .blog1-header-1:hover{
    background-color: #000000d0;
    color: #EAEAEA;
    padding: 24px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
    text-shadow: none;
}

.blog1 .blog_1 .blog1-header-1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 48px;
    margin-bottom: 20px;
    transition: 0.5s;
    border-radius: 10px;
    text-shadow: #EAEAEA 2px 2px 4px;
}

.blog1 .blog_1 .blog1-header-2:hover{
    color: #eaeaea;
    border-radius: 15px;
    background-color: #000000d0;
    padding: 24px 12px;
    text-shadow: none;
}

.blog1 .blog_1 .blog1-header-2{
    /* font-family: "Black Ops One", system-ui; */
    font-family: 'Audiowide';
    color: #000a4e;
    font-weight: bold;
    /* color: #000a4e; */
    border-radius: 10px;
    text-shadow: #EAEAEA 2px 2px 4px;
    transition: 0.5s;
}
.problems{
    min-height: 100vh;
}


/* Blog issue start */
.blog2{
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.blog2 h1:hover{
    scale: 1.08;
}

.conissue{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    
}

.b2is{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    transition: 0.5s;
    padding: 20px;
}

.b2is:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.b2is img{
    width:90%;
    height: auto;
    border-radius: 10px;
}
.b2ig{
    padding: 20px;
    text-align: justify;
    transition: 0.5s;
}
.b2ig:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
/* end */

/* effect */
.sec3{
    background-color: #eaeaea;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.sec3-waste{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
   
}

.imgs-3, .im3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    transition: 0.5s;
    margin-bottom: 20px;
}

 .imgs-3:hover{
    transform: scale(1.05);
} 

.imgs-3 .im3 img:hover{
    transform: translateY(-10px);
    border-radius: 100px;
    transform: scale(1.2);
    border:#000a4e solid 3px;
}

.imgs-3 .im3 img{
    width: 90%;
    height: auto;
    border-radius: 50px;
    padding: 5px;
    transition: 0.5s;
}

.sec3-tx{
    padding: 50px;
    transition: 0.5s;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    
}

.sec3-tx:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.sec3-tx p, li{
    text-align: justify;
    margin-bottom: 15px;
}
@media screen and (max-width: 599px) {
    .imgs-3 .im3 img{
        width: 100px;
        
    }

    .imgs-3 .im3{
        width: 100px;
    }
}

.abt{
    display: inline-block;
    padding: 10px 20px;
    background-color: #de362b;
    color: #EAEAEA;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.5s;
    
}
.abt:hover{
    background-color: #1F358E;
    padding: 8px 35px;
    border-radius: 10px;
    transform: translateY(-10px);
}
/* end */

/* start */
.morden-sol2 {
    width: 100%;
    min-height: 100vh;
    background-color: #eaeaea;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.sol-1-h{
    text-align: center;
    margin-bottom: 20px;
}

.sol-1-h h1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 45px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    margin-bottom: 0%;
}

.sol-1-h h1:hover{
   font-size: 50px;} 

   .sol-1-h h3{
    margin-top: 0%;
    margin-bottom: 30px;
    margin: auto;
    transition: 0.5s;
   }
.sol-1-h h3:hover{
    background-color: #1a1a1a4f;
    color: #EAEAEA;
    padding: 10px 12px;
    border-radius: 30px;
}

.sol-1-f {
    display: flex;
    flex-wrap: wrap;
}
.sol-img1 img{
    width: 330px;
    height: 200px;
    border-radius: 40px;
    transition: 0.5s;
    margin-top: 20px;
}

.sol-img2 img{
    width: 330px;
    height: 220px;
    border-radius: 40px;
    transition: 0.5s;
    margin-top: 20px;
}

.sol-1-s{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.sol-img1{
    
    text-align: center;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}

.sol-img2{
    
    text-align: center;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.sol-img2 img:hover{
    box-shadow: 0px 0px 10px #1a1a1a4f;
    transform: translateX(-10px);
}

.sol-img1 img:hover{
    box-shadow: 0px 0px 10px #1a1a1a4f;
    transform: translateX(10px);
}
.sol-txt2{
    
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
}

.sol-txt2:hover{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #1a1a1a4f;
    border-radius: 15px;
    transform: translateZ(-10px);
    
}

.morden-sol2 .morden-sol {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #de362b;
    height: 50px;
    color: #EAEAEA;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    margin-top: 30px;
}

.morden-sol2 .morden-sol:hover {
    background-color: #1f358e;
    color: #EAEAEA;
    padding: 10px 40px;
    border-radius: 30px;
    transform: translateY(-10px);}

.issuestart2 h1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 38px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
    margin-bottom: 20px;

}
