/* body additional */
html, body{
    overflow-x: hidden;
}

/* hero start */
.blog1{
    background-image: linear-gradient(#00000035), url("blog1_img/watercolor-pile-plastic-pollution-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    border-bottom: #000a4e solid 10px;
}

.blog1 .blog_1 .blog1-header-1:hover{
    background-color: #000000d0;
    color: #EAEAEA;
    padding: 24px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
    text-shadow: none;
}

.blog1 .blog_1 .blog1-header-1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 48px;
    margin-bottom: 20px;
    transition: 0.5s;
    border-radius: 10px;
    text-shadow: #EAEAEA 2px 2px 4px;
}

.blog1 .blog_1 .blog1-header-2:hover{
    color: #eaeaea;
    border-radius: 15px;
    background-color: #000000d0;
    padding: 24px 12px;
    text-shadow: none;
}

.blog1 .blog_1 .blog1-header-2{
    /* font-family: "Black Ops One", system-ui; */
    font-family: 'Audiowide';
    color: #000a4e;
    font-weight: bold;
    /* color: #000a4e; */
    border-radius: 10px;
    text-shadow: #EAEAEA 2px 2px 4px;
    transition: 0.5s;
}

.issue{
    width: 100%;
    min-height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding: 10px;
margin: auto;
text-align: justify;
}

.issue-txt-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

.issue_text{
    /* text-align: end; */
    border-radius: 20px;
    transition: 0.5s;
    margin: auto;
    /* justify-content: center;
    display: flex; */
}

.issue .issue_img img:hover{
    box-shadow: 0 0 10px #1f358e;
    transform: translateY(-10px);
}
.issue_img img{
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    transition: 0.5s;
    /* margin: 10px; */
}

.issue .issue_img{
    justify-content: center;
    margin: auto;
    text-align: center;
}

.issue .issue_text:hover{
    box-shadow: 0 0 10px #1f358e;
    padding: 24px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
}

.issue .issue_text{
    color: #313131;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    border-radius: 10px;
}

.issue .issue_h1:hover{
    background-color: #1a1a1a4f;
    padding: 24px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
}

.issue .issue_h1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 45px;
    margin-bottom: 40px;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
}

.issue .issue_n_b{
    display: inline-block;
    padding: 10px 20px;
    background-color: #de362b;
    color: #EAEAEA;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}

.issue .issue_n_b:hover{
    background-color: #1f358e;
    color: #EAEAEA;
    padding: 15px 32px;
    border-radius: 15px;
    transform: translateY(-10px);
}

.b1-effect{
    width: 100%;
    min-height: 100vh;
    background-color: #eaeaea;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.effect_b1{
    margin: auto;
    justify-content: center;
}

.effect_b1 h1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 45px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
}
.effect_b1 h1:hover{
    background-color: #1a1a1a4f;
    padding: 24px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
}   

.effect_b1 h3{
    color: #000a4e;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
}
.effect_b1 h3:hover{
    background-color: #1a1a1a4f;
    padding: 14px 12px;
    border-radius: 15px;
    transform: translateY(-10px);
}

.env_effect{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
}

.env_effect .card:hover{
            border-radius: 20px;
            background-color: #1f358e;
            transform: translateY(-10px);
}
.env_effect .card:hover > .card_txt{
    color: #EAEAEA;
}
.env_effect .card{
            border-radius: 15px;
            background-color: #1a1a1a4f;
            justify-content: space-between;
            text-align: center;
            padding: 10px;
            transition: 0.5s;
            margin: 50px 20px;
            /* max-height: 320px; */
        }
.env_effect .card img:hover{
            border-radius: 20px;
            background-color: #1f358e;
            transform: translateZ(-10px);
        
}
.card img{
            width: 100%;
            height: 160px;
            border-radius: 7px;
            transition: 0.5s;
        }

.env_effect .card .card_txt:hover{
            font-weight: 600;
            transform: translateY(10px);
}

.env_effect .card .card_txt{
            color: #000a4e;
            transition: 0.5s;
}

.b1-effect .effect_n_b{
    display: inline-block;
    padding: 10px 20px;
    background-color: #de362b;
    color: #EAEAEA;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    
}

.b1-effect .effect_n_b:hover{
    background-color: #1f358e;
    color: #EAEAEA;
    padding: 12px 50px;
    border-radius: 15px;
    transform: translateY(10px);
}

.b1-health{
    width: 100%;
    min-height: 100vh;
    background-color: #eaeaea;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 5px;

}

.health_effect {
    display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}


.b1-health .health_effect .health_c {
    background-color: #000a4e;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    padding: 10px;
}

.b1-health .health_effect .health_c:hover{
    border: solid black 3px;
    transform: translateY(-10px);
}

.b1-health .health_effect .health_c .health_img{
    /* width: 230px; */
    height: 180px; 
    border-radius: 15px;
    /* padding: 10px; */
    margin: auto;
    transition: 0.5s;
}

.b1-health .health_effect .health_c .health_img:hover{
    border-radius: 20px;
    transform: scale(0.9);
    border: #EAEAEA 3px solid;
}

.b1-health .effect_health_n_b{
    display: inline-block;
    padding: 10px 20px;
    background-color: #de362b;
    color: #EAEAEA;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 20px;
    
}

.b1-health .health_effect .health_c .health_txt{
    color: #EAEAEA;
    margin: auto;
    transition: 0.5s;
    padding: 10px;
}

.b1-health .health_effect .health_c .health_txt:hover{
    font-weight: bold;
    transform: translateZ(10px);
}

.b1-health .effect_health_n_b:hover{
    background-color: #1f358e;
    color: #EAEAEA;
    padding: 12px 50px;
    border-radius: 15px;
    transform: translateY(-10px);
}

.b1-health h1{
    font-family: "Black Ops One", system-ui;
    color: #000a4e;
    font-size: 45px;
    transition: 0.5s;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.b1-health h1:hover{
    background-color: #1a1a1a4f;
    padding: 10px;
    border-radius: 15px;
    transform: translateY(-10px);
}